.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
  padding: 10px;
}

.review-header {
  display: flex;
  align-items: center;
}

.review-title {
  display: flex;
  align-items: center;
}

.arrow-icon {
  margin-right: 10px;
  font-size: 24px;
}
.review-status{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  h5{
    margin: 0px;
  }
}

.review-status p {
  margin-right: 10px;
  color: grey;
  margin: 0;
}

.review-action button {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(5, 21, 30, 0.04);
  color: black;
}

.review-action button:hover {
  background-color: darkpurple;
}
